/* Colors and fonts only*/
body {
    background: rgb(240,240,240);
    color: rgb(20,20,20);
    font-family: Helvetica;
}

h1 {
    font-family: Courier;
    font-sizeL 50px;
    color: #FF5607;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: none;
    color: green;
}
/*custom design below*/

#banner {
    background-image:url("https://unsplash.it/1000/600");
    background-size: cover;
    padding: 150px 0;
    text-align:center;
    color:white;
}

#banner h1 {
    color:white;
}
#banner p {
    color:white;
    font-size: 30px;
    font-weight:lighter;
    opacity: 0.7;
}

.card {
    padding: 50px;
    text-align: center;
}

#footer {
    background: black;
    color: white;
    font-size; 20px;
    padding; 20px;
}


