
body {
    background: rgb(240,240,240);
    color: rgb(20,20,20);
    font-family: Helvetica;
}

h1 {
    font-family: Courier;
    font-sizeL 50px;
    color: #FF5607;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: none;
    color: green;
}
